In [1]:
import pandas as pd
url='https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84'
tables=pd.read_html(url)
tables

[             국가 (IOC 코드)  하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4      계  \
 0           아프가니스탄 (AFG)        14           0           0           2      2
 1              알제리 (ALG)        13           5           4           8     17
 2            아르헨티나 (ARG)        24          21          25          28     74
 3            아르메니아 (ARM)         6           2           6           6     14
 4    오스트랄라시아 (ANZ) [ANZ]         2           3           4           5     12
 ..                   ...       ...         ...         ...         ...    ...
 148       독립 (IOA) [IOA]         3           1           0           1      2
 149    독립 참가 (IOP) [IOP]         1           0           1           2      3
 150  러시아 출신 올림픽 선수 (OAR)         0           0           0           0      0
 151       혼성 (ZZX) [ZZX]         3           8           5           4     17
 152                   총합        28        5116        5082        5490  15688

      동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9   계.1  전체 참가 횟수  \
 0           0           0           0           0     0        14
 1           3           0           0           0     0        16
 2          19           0           0           0     0        43
 3           7           0           0           0     0        13
 4           0           0           0           0     0         2
 ..        ...         ...         ...         ...   ...       ...
 148         0           0           0           0     0         3
 149         0           0           0           0     0         1
 150         1           2           6           9    17         1
 151         0           0           0           0     0         3
 152        23        1062        1058        1050  3170        51

      Unnamed: 12  Unnamed: 13  Unnamed: 14     총합
 0              0            0            2      2
 1              5            4            8     17
 2             21           25           28     74
 3              2            6            6     14
 4              3            4            5     12
 ..           ...          ...          ...    ...
 148            1            0            1      2
 149            0            1            2      3
 150            2            6            9     17
 151            8            5            4     17
 152         6178         6140         6540  18858

 [153 rows x 16 columns],
                  국가 (IOC 코드)  하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
 0                 알바니아 (ALB)         8         4        12
 1              아메리칸사모아 (ASA)         8         1         9
 2                  안도라 (AND)        11        12        23
 3                  앙골라 (ANG)         9         0         9
 4              앤티가 바부다 (ANT)        10         0        10
 ..                       ...       ...       ...       ...
 74          중화민국 (ROC) [ROC]         3         0         3
 75            자르 (SAA) [SAA]         1         0         1
 76           북예멘 (YAR) [YAR]         2         0         2
 77  에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
 78            난민 (ROT) [ROT]         1         0         1

 [79 rows x 4 columns],
                      국가 (IOC 코드) 하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
 0                    독일 (GER)[5]       16         191         192         232
 1              독일 (GER) (EUA)[6]       19         219         246         268
 2        독일 (GER) (EUA) (FRG)[7]       24         275         313         349
 3  독일 (GER) (EUA) (FRG) (GDR)[8]    25[9]         428         442         476

       계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9  계.1 전체 참가 횟수  \
 0   615        12          92          88          60  240       28
 1   733        15         100          94          65  259       34
 2   937        21         111         109          78  298       45
 3  1346        21         150         145         113  408    46[9]

    Unnamed: 12  Unnamed: 13  Unnamed: 14    총합
 0          283          280          292   855
 1          319          340          333   992
 2          386          422          427  1235
 3          578          587          589  1754  ,
                                 국가 (IOC 코드)  하계 참가 횟수  Unnamed: 2  Unnamed: 3  \
 0                       러시아 출신 올림픽 선수 (OAR)         0           0           0
 1                             러시아 (RUS)[10]         6         148         125
 2                       러시아 (RUS) (RU1)[11]         9         149         129
 3                               소련 (URS)[7]         9         395         319
 4                         소련 (URS) (EUN)[8]        10         440         357
 5  러시아 (RUS) (RU1) (OAR) 소련 (URS) (EUN)[12]        19         590         485

    Unnamed: 4     계  동계 참가 횟수  Unnamed: 7  Unnamed: 8  Unnamed: 9  계.1  \
 0           0     0         1           2           6           9   17
 1         153   426         6          47          38          35  120
 2         156   434         6          47          38          35  120
 3         296  1010         9          78          57          59  194
 4         325  1122        10          87          63          67  217
 5         481  1556        17         136         107         111  354

    전체 참가 횟수  Unnamed: 12  Unnamed: 13  Unnamed: 14    총합
 0         1            2            6            9    17
 1        12          195          163          188   546
 2        12          195          163          188   546
 3        18          473          376          355  1204
 4        20          527          420          392  1339
 5        36          726          592          592  1910  ,
                                                    0  \
 0  ANZ → AUS , NZL 오스트랄라시아(ANZ)는 오스트레일리아(AUS)와 뉴질...

                                                    1
 0  SRB , YUG → IOP , SCG 세르비아(SRB, 1912년, 2006년~현...  ,
                                                    0  \
 0  BIZ 벨리즈는 1968년부터 1972년까지 영국령 온두라스(HBR)로 참가하였다....

                                                    1
 0  GUY 1996년 가이아나는 독립하기 이전에 영국령 기아나라는 명칭으로 1948년부...  ,
                                                    0  \
 0  A 브루나이는 1988년 대회에 선수 없이 임원 한 명만을 보내었다. 이는 참가 집...

                                                    1
 0  F 2014년 대회에 인도의 선수들은 인도 올림픽 협회의 자격 정지로 개막식에 올림...  ,
                                                    0  \
 0  H 불가리아 올림픽 위원회는 소피아에 거주하던 스위스의 체조 교사인 샤를 샴포가 1...

                                                    1
 0  N 모나코는 1924년 하계 올림픽 예술에서 동메달을 획득하였다.[15] 그러나 I...  ,
   vte올림픽 메달 집계                                     vte올림픽 메달 집계.1
 0       하계 올림픽  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
 1       동계 올림픽  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
 2   하계 청소년 올림픽                                     2010 2014 2018
 3   동계 청소년 올림픽                                     2012 2016 2020,
   vte올림픽 메달리스트 목록                                  vte올림픽 메달리스트 목록.1
 0           하계 종목  근대5종 농구 다이빙 레슬링 배구 배드민턴 복싱 비치발리볼 사격 사이클(남/여) 수...
 1           동계 종목  노르딕복합 루지 바이애슬론 봅슬레이 쇼트트랙 스노보드 스켈레톤 스키점프 스피드스케이...
 2           과거 종목  가라데 라크로스 라켓 로크 모터보트 밀리터리패트롤 소프트볼 야구 주드폼 줄다리기 크...
 3           시범 종목  개썰매 글라이딩 글리마 동계5종 라칸 롤러하키 무도 미식축구 밴디 볼링 사바트 스키...
 4          비공식 종목  게일릭풋볼 기구 낚시 롱그폼 모터레이싱 모터사이클 불 비둘기레이싱 사이클폴로 소방 ...]

In [3]:
len(tables)

10

In [6]:
df_madals=tables[0]
type(df_madals)

pandas.core.frame.DataFrame

In [7]:
df_madals

,국가 (IOC 코드),하계 참가 횟수,Unnamed: 2,Unnamed: 3,Unnamed: 4,계,동계 참가 횟수,Unnamed: 7,Unnamed: 8,Unnamed: 9,계.1,전체 참가 횟수,Unnamed: 12,Unnamed: 13,Unnamed: 14,총합
0,아프가니스탄 (AFG),14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
1,알제리 (ALG),13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
2,아르헨티나 (ARG),24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
3,아르메니아 (ARM),6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
4,오스트랄라시아 (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,독립 (IOA) [IOA],3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
149,독립 참가 (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
150,러시아 출신 올림픽 선수 (OAR),0,0,0,0,0,1,2,6,9,17,1,2,6,9,17
151,혼성 (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
152,총합,28,5116,5082,5490,15688,23,1062,1058,1050,3170,51,6178,6140,6540,18858

In [9]:
import pandas as pd
url = 'https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84'
tables = pd.read_html(url, header=0, index_col=0) # header와 index column을 지정함
df_medals = tables[0]
df_medals

,하계 참가 횟수,Unnamed: 2,Unnamed: 3,Unnamed: 4,계,동계 참가 횟수,Unnamed: 7,Unnamed: 8,Unnamed: 9,계.1,전체 참가 횟수,Unnamed: 12,Unnamed: 13,Unnamed: 14,총합
국가 (IOC 코드),,,,,,,,,,,,,,,
아프가니스탄 (AFG),14,0,0,2,2,0,0,0,0,0,14,0,0,2,2
알제리 (ALG),13,5,4,8,17,3,0,0,0,0,16,5,4,8,17
아르헨티나 (ARG),24,21,25,28,74,19,0,0,0,0,43,21,25,28,74
아르메니아 (ARM),6,2,6,6,14,7,0,0,0,0,13,2,6,6,14
오스트랄라시아 (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
독립 (IOA) [IOA],3,1,0,1,2,0,0,0,0,0,3,1,0,1,2
독립 참가 (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
러시아 출신 올림픽 선수 (OAR),0,0,0,0,0,1,2,6,9,17,1,2,6,9,17
혼성 (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
총합,28,5116,5082,5490,15688,23,1062,1058,1050,3170,51,6178,6140,6540,18858

In [11]:
summer = df_medals[["하계 참가 횟수", "Unnamed: 2","Unnamed: 3", "Unnamed: 4" ]]
summer

                     하계 참가 횟수  Unnamed: 2  Unnamed: 3  Unnamed: 4
국가 (IOC 코드)
아프가니스탄 (AFG)               14           0           0           2
알제리 (ALG)                  13           5           4           8
아르헨티나 (ARG)                24          21          25          28
아르메니아 (ARM)                 6           2           6           6
오스트랄라시아 (ANZ) [ANZ]         2           3           4           5
...                       ...         ...         ...         ...
독립 (IOA) [IOA]              3           1           0           1
독립 참가 (IOP) [IOP]           1           0           1           2
러시아 출신 올림픽 선수 (OAR)         0           0           0           0
혼성 (ZZX) [ZZX]              3           8           5           4
총합                         28        5116        5082        5490

[153 rows x 4 columns]

In [12]:
summer.columns=['참가수','금','은','동']
summer

                     참가수     금     은     동
국가 (IOC 코드)
아프가니스탄 (AFG)          14     0     0     2
알제리 (ALG)             13     5     4     8
아르헨티나 (ARG)           24    21    25    28
아르메니아 (ARM)            6     2     6     6
오스트랄라시아 (ANZ) [ANZ]    2     3     4     5
...                  ...   ...   ...   ...
독립 (IOA) [IOA]         3     1     0     1
독립 참가 (IOP) [IOP]      1     0     1     2
러시아 출신 올림픽 선수 (OAR)    0     0     0     0
혼성 (ZZX) [ZZX]         3     8     5     4
총합                    28  5116  5082  5490

[153 rows x 4 columns]

In [13]:
summer["메달 총계"]=summer["금"]+summer["은"]+summer["동"]
summer

<ipython-input-13-88110cecc2e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summer["메달 총계"]=summer["금"]+summer["은"]+summer["동"]

                     참가수     금     은     동  메달 총계
국가 (IOC 코드)
아프가니스탄 (AFG)          14     0     0     2      2
알제리 (ALG)             13     5     4     8     17
아르헨티나 (ARG)           24    21    25    28     74
아르메니아 (ARM)            6     2     6     6     14
오스트랄라시아 (ANZ) [ANZ]    2     3     4     5     12
...                  ...   ...   ...   ...    ...
독립 (IOA) [IOA]         3     1     0     1      2
독립 참가 (IOP) [IOP]      1     0     1     2      3
러시아 출신 올림픽 선수 (OAR)    0     0     0     0      0
혼성 (ZZX) [ZZX]         3     8     5     4     17
총합                    28  5116  5082  5490  15688

[153 rows x 5 columns]

In [16]:
summer.sort_values(["금","은","동"],ascending=False)

                              참가수     금     은     동  메달 총계
국가 (IOC 코드)
총합                             28  5116  5082  5490  15688
미국 (USA) [P] [Q] [R] [Z] [F]   27  1022   795   706   2523
소련 (URS) [URS]                  9   395   319   296   1010
영국 (GBR) [GBR] [Z]             28   263   295   293    851
중화인민공화국 (CHN) [CHN]            10   224   167   155    546
...                           ...   ...   ...   ...    ...
북마케도니아 (MKD)                    6     0     0     1      1
모리셔스 (MRI)                      9     0     0     1      1
토고 (TOG)                       10     0     0     1      1
리히텐슈타인 (LIE)                   17     0     0     0      0
러시아 출신 올림픽 선수 (OAR)             0     0     0     0      0

[153 rows x 5 columns]

In [17]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.0.1)

In [21]:
summer.to_excel('하계올림픽메달.xlsx')

In [22]:
pd.read_excel('하계올림펙메달.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: '하계올림펙메달.xlsx'

In [25]:
summer["금비중"]=summer["금"]/summer["메달 총계"]
summer

<ipython-input-25-3b357236d67b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summer["금비중"]=summer["금"]/summer["메달 총계"]

                     참가수     금     은     동  메달 총계       금비중
국가 (IOC 코드)
아프가니스탄 (AFG)          14     0     0     2      2  0.000000
알제리 (ALG)             13     5     4     8     17  0.294118
아르헨티나 (ARG)           24    21    25    28     74  0.283784
아르메니아 (ARM)            6     2     6     6     14  0.142857
오스트랄라시아 (ANZ) [ANZ]    2     3     4     5     12  0.250000
...                  ...   ...   ...   ...    ...       ...
독립 (IOA) [IOA]         3     1     0     1      2  0.500000
독립 참가 (IOP) [IOP]      1     0     1     2      3  0.000000
러시아 출신 올림픽 선수 (OAR)    0     0     0     0      0       NaN
혼성 (ZZX) [ZZX]         3     8     5     4     17  0.470588
총합                    28  5116  5082  5490  15688  0.326109

[153 rows x 6 columns]

In [26]:
#금메달 비중이 가장 높은 나라부터 정렬
summer.sort_values("금비중",ascending=False)

                     참가수  금  은  동  메달 총계       금비중
국가 (IOC 코드)
피지 (FIJ)              14  1  0  0      1  1.000000
요르단 (JOR)             10  1  0  0      1  1.000000
코소보 (KOS)              1  1  0  0      1  1.000000
바레인 (BRN)              9  2  1  0      3  0.666667
모잠비크 (MOZ)            10  1  0  1      2  0.500000
...                  ... .. .. ..    ...       ...
사모아 (SAM)              9  0  1  0      1  0.000000
사우디아라비아 (KSA)         11  0  1  2      3  0.000000
키르기스스탄 (KGZ)           6  0  1  3      4  0.000000
리히텐슈타인 (LIE)          17  0  0  0      0       NaN
러시아 출신 올림픽 선수 (OAR)    0  0  0  0      0       NaN

[153 rows x 6 columns]

In [30]:
summer[summer["금"]>=100].sort_values("금비중",ascending=False)

                              참가수     금     은     동  메달 총계       금비중
국가 (IOC 코드)
중화인민공화국 (CHN) [CHN]            10   224   167   155    546  0.410256
미국 (USA) [P] [Q] [R] [Z] [F]   27  1022   795   706   2523  0.405073
소련 (URS) [URS]                  9   395   319   296   1010  0.391089
동독 (GDR) [GDR]                  5   153   129   127    409  0.374083
이탈리아 (ITA) [M] [S]             27   206   178   193    577  0.357019
헝가리 (HUN)                      26   175   147   169    491  0.356415
러시아 (RUS) [RUS]                 6   148   125   153    426  0.347418
핀란드 (FIN)                      25   101    85   117    303  0.333333
총합                             28  5116  5082  5490  15688  0.326109
일본 (JPN)                       22   142   136   161    439  0.323462
독일 (GER) [GER] [Z]             16   191   194   230    615  0.310569
영국 (GBR) [GBR] [Z]             28   263   295   293    851  0.309048
프랑스 (FRA) [O] [P] [Z]          28   212   241   263    716  0.296089
오스트레일리아 (AUS) [AUS] [Z]        26   147   163   187    497  0.295775
스웨덴 (SWE) [Z]                  27   145   170   179    494  0.293522